<% title "Faq Categories" %>

<table>
  <tr>
    <th>Position</th>
  </tr>
  <% for faq_categories in @faq_categories %>
    <tr>
      <td><%= faq_categories.position %></td>
      <td><%= link_to "Show", faq_categories %></td>
      <td><%= link_to "Edit", edit_faq_categories_path(faq_categories) %></td>
      <td><%= link_to "Destroy", faq_categories, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Faq Categories", new_faq_categories_path %></p>
