<div id="translations-index" class="admin-tool">
  <%= javascript_include_tag "base/translation" %>
  <h1>Translations</h1>
  <% if !@translation.nil? %>
    <%= form_for(@translation) do |f| %>
      <%= f.error_messages %>
    <% end %>
  <% end %>
  <table>
    <tr>
      <th>Key</th>
      <% I18n.available_locales.each do |locale| %>
        <th><%= locale %></th>
      <% end %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <% @translations.each do |main_key, v| %>
      <% v.each do |sub_key, v2| %>
        <% key = main_key.nil? ? sub_key : "#{main_key}.#{sub_key}" %>
        <tr>
          <td><%= key %><%= hidden_field_tag "translation[key]", key %></td>
          <% I18n.available_locales.each_with_index do |locale, i| %>
            <% val = v2[locale].present? ? ActiveSupport::JSON.decode(v2[locale])[0] : nil %>
            <td>
              <div class="static"><%= val %></div>
              <div class="editing">
                <%= hidden_field_tag "translation[translation_values_attributes][#{i}][locale]", locale %>
                <%= text_area_tag "translation[translation_values_attributes][#{i}][value]", val, :row => 3 %>
              </div>
            </td>
          <% end %>
          <td>
            <div class="static">
              <%= content_tag :a, "Edit", :id => "link_edit_translation" %>
            </div>
            <div class="editing">
              <%= content_tag :a, "Save", :id => "link_update_translation" %> /
              <%= content_tag :a, "Cancel", :id => "link_cancel_translation" %>
            </div>
          </td>
          <td><%= link_to "Delete", translation_path(:id => 1, :key => key), :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><%= text_field_tag "translation[key]" %></td>
      <% I18n.available_locales.each_with_index do |locale, i| %>
        <td>
          <%= hidden_field_tag "translation[translation_values_attributes][#{i}][locale]", locale %>
          <%= text_area_tag "translation[translation_values_attributes][#{i}][value]", nil, :rows => 3 %>
        </td>
      <% end %>
      <td><%= content_tag :a, "Create", :id => "link_create_translation" %></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <%= form_tag translation_path(:id => 1), :id => "form_update_translation", :method => :put do %>
    <div class="fields"></div>
  <% end %>
  <%= form_tag translations_path, :id => "form_create_translation" do %>
    <div class="fields"></div>
  <% end %>
</div>