<div id="topbar">
  <div class="content">
    <div class="lfloat">
      <%= link_to "", root_path, :class => "topbar-logo topbar_item" %>
    </div>
    <div class="rfloat">
      <%= link_to root_path, :class => "topbar_item" do %>
        <div class="user_info small horizontal">
          <div class="photo_container">
            <%= image_tag current_user.image_url %>
          </div>
          <div class="name_container">
            <div class="height_support"></div>
            <div class="name"><%= current_user.name %></div>
          </div>
        </div>
      <% end %>
      <%= content_tag :div, :class => "account_menu toggle_menu topbar_item", :data => {:"toggle-type" => "scroll_down"} do %>
        <%= content_tag :a, :class => "toggle_button" do %>
          <div class="triangle small down"></div>
        <% end %>
        <div class="toggle_menu_anchor">
          <div class="toggle_menu_content">
            <div class="inner_wrap">
              <%= link_to t("shared.account_settings"), edit_user_path(current_user), :remote => true, :class => "menu_item", :title => t("shared.account_settings") %>
              <%= link_to t("shared.log_out"), logout_path, :method => :delete, :remote => true, :class => "menu_item", :id => "link_logout", :title => t("shared.log_out") %>
              <div class="menu_separator"></div>
              <%= link_to t("faqs.title"), faq_categories_path, :remote => true, :class => "menu_item", :title => t("faqs.title") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>