<% sub_menu = [
    {:id => "donation"},
  ]
%>
<div class="bg1"></div>
<div class="story_container">
  <div class="story">
    <div class="first_title"><%= t("donation.first_title") %></div>
    <div class="first_description"><%= t("donation.first_description") %></div>
  </div>
</div>
<% if sub_menu.count < 1 %>
  <div class="horizontal_scroll_container">
    <ul>
      <li class="sub_nav_back">
        <%= content_tag :a, :class => "next", :title => menu_item[:title], :id => menu_item[:id] do %>
          <div class="icons-sub-nav-back-button"></div>
        <% end %>
      </li>
      <% (0...sub_menu.count).each do |i| %>
        <li class="sub_nav">
          <%= content_tag :a, nil, :class => "icons-sub-nav-button", :data => {:index => i} %>
        </li>
      <% end %>
      <li class="sub_nav_forward">
        <%= content_tag :a, :class => "prev", :title => menu_item[:title], :id => menu_item[:id] do %>
          <div class="icons-sub-nav-foward-button"></div>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>