<% sub_menu = [
    {:id => "first_page"},
    {:id => "second_page"},
    {:id => "third_page"},
  ]
%>
<div class="story_container sequence" id="intro_sequence">
  <ul>
    <li class="frame_container">
      <div class="intro_first">
        <div class="intro_bg"></div>
        <div class="first_title"><%= t("home.index.intro.first_title") %></div>
        <div class="first_description"><%= t("home.index.intro.first_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="intro_second">
        <div class="second_title"><%= t("home.index.intro.second_title") %></div>
        <div class="second_description"><%= t("home.index.intro.second_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="intro_third">
        <div class="intro_bg"></div>
        <div class="third_title"><%= t("home.index.intro.third_title") %></div>
        <div class="third_description"><%= t("home.index.intro.third_description") %></div>
      </div>
    </li>
  </ul>
</div>
<div class="horizontal_scroll_container">
  <ul>
    <li class="sub_nav_back">
      <%= content_tag :a, nil, :class => "icons-sub-nav-back-button", :title => menu_item[:title], :data => {:id => menu_item[:id]} %>
    </li>
    <% (0...sub_menu.count).each do |i| %>
      <li class="sub_nav">
        <% if i == 0 %>
          <%= content_tag :a, nil, :class => "icons-sub-nav-button current_page", :data => {:index => i, :id => menu_item[:id]} %>
        <% else %>
          <%= content_tag :a, nil, :class => "icons-sub-nav-button", :data => {:index => i, :id => menu_item[:id]} %>
        <% end %>
      </li>
    <% end %>
    <li class="sub_nav_forward">
      <%= content_tag :a, nil, :class => "icons-sub-nav-forward-button", :title => menu_item[:title], :data => {:id => menu_item[:id]} %>
    </li>
  </ul>
</div>

