<div id="right_bar">
  <% ["black", "white"].each do |color| %>
    <ul class="nav <%= color %>">
      <li class="first">
        <%= content_tag :a, :href => "#home", :title => "home" do %>
          <%= image_tag "home/nuvoButton.png", :class => "home_button" %>
        <% end %>
      </li>
      <% menu.each do |menu_item| %>
        <% next if menu_item[:id] == "home" %>
        <li class="tooltip_container">
          <%= content_tag :a, :href => "##{menu_item[:id]}", :title => menu_item[:title] do %>
          <%= content_tag :div, nil, :class => "circle scroll_button", :data => {:id => menu_item[:id]} %>
          <% end %>
          <% if menu_item.include?(:title) %>
            <div class="tooltip <%= menu_item[:id] %>">
              <%= image_tag color == "black" ? "home/side-menu-indicator.png" : "home/side-menu-indicator-white.png" %>
              <div class="description"><%= menu_item[:title] %></div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>