<% sub_menu = [
    {:id => "business_model"},
    {:id => "seconde"},
    {:id => "third"},
    {:id => "fourth"},
    {:id => "fifth"},
    {:id => "sixth"},
  ]
%>
<div class="story_container" id="strength_sequence">
  <ul>
    <li class="frame_container">
      <div class="strength_first">
        <div class="first_title"><%= t("home.index.strength.first_title") %></div>
        <div class="first_description"><%= t("home.index.strength.first_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="strength_second">
        <div class="right_end_bg"></div>
        <div class="right_bg"></div>
        <div class="second_title"><%= t("home.index.strength.second_title") %></div>
        <div class="second_description"><%= t("home.index.strength.second_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="strength_third">
        <div class="left_bg"></div>
        <div class="left_end_bg"></div>
        <div class="third_title"><%= t("home.index.strength.third_title") %></div>
        <div class="third_description"><%= t("home.index.strength.third_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="strength_fourth">
        <div class="right_end_bg"></div>
        <div class="right_bg"></div>
        <div class="fourth_title"><%= t("home.index.strength.fourth_title") %></div>
        <div class="fourth_description"><%= t("home.index.strength.fourth_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="strength_fifth">
        <div class="left_bg"></div>
        <div class="left_end_bg"></div>
        <div class="fifth_title"><%= t("home.index.strength.fifth_title") %></div>
        <div class="fifth_description"><%= t("home.index.strength.fifth_description") %></div>
      </div>
    </li>
    <li class="frame_container">
      <div class="strength_sixth">
        <div class="sixth_title"><%= t("home.index.strength.sixth_title") %></div>
        <div class="sixth_description"><%= t("home.index.strength.sixth_description") %></div>
      </div>
    </li>
  </ul>
</div>
<div class="horizontal_scroll_container">
  <ul>
    <li class="sub_nav_back">
      <%= content_tag :a, nil, :class => "icons-sub-nav-back-button", :title => menu_item[:title], :data => {:id => menu_item[:id]} %>
    </li>
    <% (0...sub_menu.count).each do |i| %>
      <li class="sub_nav">
        <% if i == 0 %>
          <%= content_tag :a, nil, :class => "icons-sub-nav-button current_page", :data => {:index => i, :id => menu_item[:id]} %>
        <% else %>
          <%= content_tag :a, nil, :class => "icons-sub-nav-button", :data => {:index => i, :id => menu_item[:id]} %>
        <% end %>
      </li>
    <% end %>
    <li class="sub_nav_forward">
      <%= content_tag :a, nil, :class => "icons-sub-nav-forward-button", :title => menu_item[:title], :data => {:id => menu_item[:id]} %>
    </li>
  </ul>
</div>