<div class="guide_container">
	<div class="guide">
    <div class="title"><%= image_tag "home/make-shop-step-guide-text_image.png" %></div>
    <div class="step_button_container">
      <ul class="step_buttons">
        <li class="step_button", id="first"><%= image_tag "home/make-shop-step-guide-step-button-01-selected.png" %></li>
        <li class="step_bar progressed_bar"></li>
        <li class="step_button", id="second"><%= image_tag "home/make-shop-step-guide-step-button-02-normal.png" %></li>
        <li class="step_bar"></li>
        <li class="step_button", id="third"><%= image_tag "home/make-shop-step-guide-step-button-03-normal.png" %></li>
        <li class="step_bar"></li>
        <li class="step_button", id="fourth"><%= image_tag "home/make-shop-step-guide-step-button-04-normal.png" %></li>
      </ul>
    </div>
    <div class="step_title_container">
      <ul class="step_titles">
        <li class="step_title first progressed_text", id="first"><%= t("home.guide.step.first.title") %></li>
        <li class="step_title second ", id="second"><%= t("home.guide.step.second.title") %></li>
        <li class="step_title third", id="third"><%= t("home.guide.step.third.title") %></li>
        <li class="step_title fourth", id="fourth"><%= t("home.guide.step.fourth.title") %></li>
      </ul>
    </div>
    <div class="section_line"><%= image_tag "home/make-shop-step-guide-section-hline.png" %></div>
    <div class="step_content" id="step_slider">
      <%= render "brands/form" %>
    </div>
  </div>
</div>