<%= nested_form_for(@layout_template) do |f| %>
  <% if @layout_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layout_template.errors.count, "error") %> prohibited this layout_template from being saved:</h2>

      <ul>
      <% @layout_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="sections">
    <li class="section">
      <div class="section_title">Basic Information</div>
      <div class="section_value">
        <div class="field">
          <%= f.label :name, :class => "field_title" %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description, :class => "field_title" %>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          <%= f.fields_for :image %>
        </div>
      </div>
    </li>
    <% f.fields_for :layout_sections do |s| %>
      <li class="section">
        <div class="section_title"><%= s.label :section_key %></div>
        <div class="section_value">
          <%= s.text_field :key %>
          <%# s.fields_for :options do |o| %>
            <div class="field">
              <div class="field_title"><%# o.label :option_key %></div>
              <div class="field_value">
                <%# case o.object.option_value[:type] %>
                <%# when :html %>
                  <%# o.text_area :option_value %>
                  <%# content_tag :div, :class => "ace_editor" %>
                <%# when :font %>
                  <%# o.select_tag :option_value, options_for_select(Font.collect{|f| [Font.val(f), Font.val(f)]}) %>
                <%# when :font_size %>
                  <%# o.text_field :option_value %>
                <%# when :background %>
                <%# else %>
                <%# end %>
              </div>
            </div>
          <%# end %>
          <%# f.link_to_add "Add Option", :options %>
        </div>
      </li>
    <% end %>
    <%= f.link_to_add "Add Section", :layout_sections %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>