<h1>Listing routes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Hash Key</th>
      <th>Url</th>
      <th>Created At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.id %></td>
        <td><%= link_to route.hash_key, "/#{route.hash_key}", target: '_blank' %></td>
        <td><%= link_to route.url, route.url, target: '_blank' %></td>
        <td><%= l(route.created_at, format: :short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @routes %>