<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @route.id %>
</p>

<p>
  <strong>Hash Key:</strong>
  <%= @route.hash_key %>
</p>

<p>
  <strong>Url:</strong>
  <%= @route.url %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
