<div class="brands _customize_tutorial">
  <div class="brands-make-shop-step-1-title"></div>
  <%= content_tag :div, :class => "step_content" do %>
    <%= content_tag :a, nil, :class => "arrow prev" %>
    <%= content_tag :a, nil, :class => "arrow next" %>
    <div class="tutorial_container sequence" id="tutorial_sequence">
      <ul>
        <li class="tutorial" id="1">
          <div class="tutorial_1">
            <div class="image_frame small"><%= image_tag("https://d3pczqvwan8kmr.cloudfront.net/development/uploads/image/image/10/screenshot002.png") %></div>
            <div class="text_frame title">Title : You can change layout.</div>
            <div class="text_frame description">Description : Very Easy.</div>
            <div class="image_frame small"><%= image_tag("https://d3pczqvwan8kmr.cloudfront.net/development/uploads/image/image/12/screenshot001.png") %></div>
            <div class="text_frame title">Title : Click an element.</div>
            <div class="text_frame description">Description : You can change all option.</div>
          </div>
        </li>
        <li class="tutorial" id="2">
          <div class="tutorial_2">
            <div class="video_frame">
              <iframe class="introVideo" src="http://player.vimeo.com/video/40981493?api=1&title=0&byline=0&portrait=0&autoplay=0" width="850" height="478" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
          </div>
        </li>
        <li class="tutorial" id="3">
          <div class="tutorial_3">
            <div class="image_frame"><%= image_tag("https://d3pczqvwan8kmr.cloudfront.net/development/uploads/image/image/14/mzl.osmceivo.800x500-75.jpg") %></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="pager_container">
      <ul>
        <% (0...3).each do |i| %>
          <li class="tutorial_nav">
            <%= content_tag :a, :class => "dot" do %>
              <% if i == 0 %>
                <%= image_tag "home/side-menu-dot.png", :class => "scroll_button current_page", :id => i+1, :data => {:index => i + 1} %>
              <% else %>
                <%= image_tag "home/side-menu-dot.png", :id => i+1, :class => "scroll_button", :data => {:index => i + 1} %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="button_area">
      <ul>
        <li class="first">
          <%= link_to t("back"), slide_back_to_select_layout_brand_path(@brand, :transition => "slide_back"), :remote => true, :class => "button cancel" %>
        </li>
        <li>
          <%= link_to t("next"), "", :remote => true, :class => "button confirm" %>
        </li>
      </ul>
    </div>
</div>