<div class="brands _customize_tutorial">
  <div class="brands-make-shop-step-3-title"></div>
  <%= content_tag :div, :class => "step_content" do %>
    <%= content_tag :a, nil, :class => "arrow prev" %>
    <%= content_tag :a, nil, :class => "arrow next" %>
    <div class="tutorial_container sequence" id="tutorial_sequence">
      <ul>
        <li class="tutorial" id="1">
          <div class="tutorial_1">
            <div>tutorial 1</div>
          </div>
        </li>
        <li class="tutorial" id="2">
          <div class="tutorial_2">
            <div class="video_frame">
              <iframe class="introVideo" src="http://player.vimeo.com/video/40981493?api=1&title=0&byline=0&portrait=0&autoplay=0" width="850" height="478" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
          </div>
        </li>
        <li class="tutorial" id="3">
          <div class="tutorial_3">
            <div>tutorial 3</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="pager_container">
    </div>
    <div class="bottom_area">
      <%= link_to t("brands.customize_tutorial.customize"), customize_brand_path(@brand), :remote => true, :class => "button link_customize" %>
    </div>
  <% end %>
  <div class="button_area">
    <ul>
      <li class="first">
        <%= link_to t("back"), select_layout_brand_path(@brand, :prev => true), :remote => true, :class => "button cancel" %>
      </li>
      <li>
        <%= link_to t("next"), menu_brand_path(@brand), :remote => true, :class => "button confirm" %>
      </li>
    </ul>
  </div>
</div>