<% current_step = 1 %>
<% max_steps = 4 %>
<div class="brands-make-shop-step-1-title"></div>
<%= form_for(@brand, :validate => true, :remote => true, :html => {:id => "create_brand"}) do |f| %>
  <div class="step_content_container">
    <div class="form_container">
      <ul class="grey_box">
        <li class="field first">
          <%= f.label :name, t("brands.name"), :class => "field_title" %>
          <div class="field_input">
            <%= f.text_field :name %>
          </div>
          <div class="field_description">
            <div><%= t("brands.name_field_description") %></div>
          </div>
        </li>
        <li class="field field_brand_uri">
          <%= f.label :uri, t("brands.uri"), :class => "field_title" %>
          <div class="field_input">
            <span class="basic_url">http://</span><%= f.text_field :uri %><span class="basic_url">.fre.so</span>
          </div>
          <div class="field_description">
            <div><%= t("brands.uri_field_description") %></div>
          </div>
        </li>
        <li class="field">
          <%= f.label :hub_type, t("brands.category"), :class => "field_title" %>
          <div class="field_input">
            <%= f.text_field :hub_type %>
          </div>
          <div class="field_description">
            <div><%= t("brands.hub_type_field_description") %></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="button_area">
    <a class="button cancel" id="cancel_button"><%= t("brands.guide.cancel") %></a>
    <%= f.submit :class => "button confirm create_button", :id => "create_shop_button", :value => t("brands.guide.create_shop") %>
  </div>
<% end %>
