<% current_step = 1 %>
<div class="brands _form">
  <div class="brands-make-shop-step-1-title"></div>
  <%= form_for(@brand, :validate => true, :remote => true, :html => {:id => "create_brand"}) do |f| %>
    <%= content_tag :ul, :class => "step_content" do %>
      <li class="field first">
        <%= f.label :name, t("brands.name"), :class => "field_title" %>
        <div class="field_input">
          <%= f.text_field :name %>
        </div>
        <div class="field_description">
          <div><%= t("brands.name_field_description") %></div>
        </div>
      </li>
      <li class="field field_brand_uri">
        <%= f.label :uri, t("brands.uri"), :class => "field_title" %>
        <div class="field_input">
          <span class="basic_url">http://</span><%= f.text_field :uri %><span class="basic_url">.fre.so</span>
        </div>
        <div class="field_description">
          <div><%= t("brands.uri_field_description") %></div>
        </div>
      </li>
      <li class="field">
        <%= f.label :hub, t("brands.category"), :class => "field_title" %>
        <div class="field_input">
          <%= f.select :hub, current_user.nuvo.hubs.collect{|h| [h["name"], h["id"]]}, {:prompt => ""}, :data => {:placeholder => t("brands.select_hub")} %>
        </div>
        <div class="field_description"><%= t("brands.hub_field_description") %></div>
      </li>
    <% end %>
    <div class="button_area">
      <ul>
        <li class="first">
          <a class="button reset"><%= t("reset") %></a>
        </li>
        <li>
          <a class="button confirm submit"><%= @brand.persisted? ? t("update") : t("brands.guide.create_shop") %></a>
        </li>
      </ul>
    </div>
  <% end %>
</div>