<div class="guide">
  <div class="brands-make-shop-title"></div>
  <ul class="steps">
    <% (1..Brand.guide_steps).each_with_index do |step, i| %>
      <li class="step <%= "first" if i == 0 %> <%= step < current_step ? "complete" : step == current_step ? "current" : "" %> step_<%= step %>">
        <div class="number"></div>
        <div class="check"></div>
        <div class="step_title"><%= t("brands.guide.steps.#{step}.title") %></div>
      </li>
      <% if step != Brand.guide_steps %>
        <li class="step_bar"></li>
      <% end %>
    <% end %>
  </ul>
  <div class="section_line"></div>
  <ul id="step_slider">
    <li class="current_slide">
      <%= yield :guide %>
    </li>
  </ul>
</div>