<% title "Brands" %>

<table>
  <tr>
    <th>Uid</th>
    <th>Hub Type</th>
    <th>Layout</th>
    <th>Uri</th>
  </tr>
  <% for brand in @brands %>
    <tr>
      <td><%= brand.uid %></td>
      <td><%= brand.hub %></td>
      <td><%= brand.layout_id %></td>
      <td><%= brand.uri %></td>
      <td><%= link_to "Show", brand %></td>
      <td><%= link_to "Edit", edit_brand_path(brand) %></td>
      <td><%= link_to "Destroy", brand, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Brand", new_brand_path %></p>
