<% title_prefix = "#{t("freso")} - " %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title_prefix %><%= content_for?(:title) ? yield(:title) : t("default_page_title") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  </head>
  <%= content_tag :body, :data => {:controller => controller.controller_path, :action => controller.action_name} do %>
    <%= content_tag :div, nil, :id => "data", :data => {:"root-url" => root_url, :"title-prefix" => title_prefix} %>
    <ul id="body_slider">
      <li class="current_slide">
        <%= render "shared/flash", :flash => flash %>
        <%= yield :body %>
      </li>
    </ul>
  <% end %>
</html>