<!DOCTYPE html>
<html>
  <head>
    <title>Freso</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if IE]><%= javascript_include_tag "external_lib/excanvas" %><![endif]-->
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="top_container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>