<% title_prefix = "#{t("freso")} - " %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title_prefix %><%= content_for?(:title) ? yield(:title) : t("default_page_title") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if IE]><%= javascript_include_tag "external_lib/excanvas" %><![endif]-->
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= content_tag :div, nil, :id => "data", :data => {:"root-url" => root_url, :"title-prefix" => title_prefix} %>
    <div id="top_container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <ul id="slider">
        <li class="current">
          <%= yield %>
        </li>
      </div>
    </div>
  </body>
</html>