<h1>Listing layouts</h1>

<table>
  <tr>
    <th>Layout option</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @layouts.each do |layout| %>
  <tr>
    <td><%= layout.layout_option %></td>
    <td><%= link_to 'Show', layout %></td>
    <td><%= link_to 'Edit', edit_layout_path(layout) %></td>
    <td><%= link_to 'Destroy', layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Layout', new_layout_path %>
